<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="text-align: center;">Cyclone Ditwah LIVE: Intense rainfall expected in Tamil Nadu till weekend
Cyclonic storm Ditwah over southwest Bay of Bengal and adjoining Sri Lanka coast and the depression (remnant of cyclonic storm ‘Senyar’) over the Strait of Malacca are expected to bring rains</p>
</body>
</html>